<html>
<head>
  <title>KickShirts</title>
</head>
<link rel="stylesheet" type="text/css" href="main.css">
<body>
  <div class="container">
    <header>
      <h1>KickShirts</h1>
      <h2>Shop for T-shirts by pledging on <a href="http://kickstarter.com/">Kickstarter</a></h2>
      <h4><em><a href="#footer">A P'unk Avenue weekend hack</a></em></h4>
    </header>
    <h3 class="max">
      <a href="#" data-max="0">No limit</a>
      <a href="#" data-max="10">$10</a>
      <a href="#" data-max="20">$20</a>
      <a href="#" data-max="30">$30</a>
      <a href="#" data-max="50">$50</a>
      <a href="#" data-max="75">$75</a>
      <a href="#" data-max="100">$100</a>
      <em>Currency may vary</em>
    </h3>
    <div class="articles">
      {% for project in projects %}
        <article class="project" data-currency="{{ project.shirt.currency }}" data-price="{{ project.shirt.price }}">
          <a href="{{ project.link | e }}">
            <h3>{{ project.name | e }}</h3>
            <div class="left">
              <img class="thumbnail" src="{{ project.thumbnail | e }}" />
            </div>
            <div class="right">
              <div class="pledge">
                {{ project.blurb | e }}
              </div>
            </div>
            <div class="shirt">
              <h5><span class="currency">{{ project.shirt.currency }}<span class="price">{{ project.shirt.price }}</span></h5>
              <div class="desc">{{ project.shirt.desc }}</div>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
    <a name="footer"></a>
    <footer>
      <a href="http://punkave.com/"><img class="logo" src="punkavelogo.png" /></a>
      <h3>A <a href="http://punkave.com/">P'unk Avenue</a> weekend hack</h3>
      <h4>Idea: Geoff DiMasi</h4>
      <h4>Execution: Tom Boutell</h4>
      <p><em>P'unk Avenue is in no way affiliated with Kickstarter. We love Kickstarter and hope to encourage people to pledge for cool stuff.</em></p>
    </footer>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(function() {
      var maxPrice = 0;
      $('body').on('click', '[data-max]', function() {
        maxPrice = parseFloat($(this).attr('data-max'));
        limit();
        return false;
      });
      limit();
      enhance();
      function limit() {
        $('.project').each(function() {
          var $project = $(this);
          var price = parseFloat($project.attr('data-price'));
          if (maxPrice && (maxPrice < price)) {
            $project.hide();
          } else {
            $project.show();
          }
          $('[data-max]').removeClass('active');
          $('[data-max="' + maxPrice + '"]').addClass('active');
        });
      }
      function enhance() {
        var $h1 = $('h1');
        function fade() {
          var color = 'rgb(' + color() + ',' + color() + ',' + color() + ')';
          $h1.animate({ 'color': color }, 1000, fade);
          function color() {
            return Math.floor(Math.random() * 256);
          }
        }
        fade();
        $('.project .desc').each(function() {
          var $desc = $(this);
          var markup = $desc.html();
          markup = markup.replace(/[A-Za-z\-]*shirt/i, function(match) {
            return '<span class="shirt-word">' + match + '</span>';
          });
          $desc.html(markup);
        });
      }
    });
  </script>
</body>
</html>
