<!DOCTYPE html>
<html>
<head>
  <title>KICKSHIRTS</title>
</head>
<link rel="stylesheet" type="text/css" href="main.css">
<link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'><body>
  <div class="container">
    <header>
      <h1>KICKSHIRTS</h1>
      <h2>Shop for T-shirts by pledging on <a href="http://kickstarter.com/">Kickstarter</a></h2>
      <h4><em><a data-open-credits href="#">A P'unk Avenue weekend hack</a></em></h4>
      <div class="credits" data-credits>
        <a href="http://punkave.com/">
          <img class="logo" src="punkavelogo.png" />
          <h4>Idea: Geoff DiMasi</h4>
          <h4>Execution: Tom Boutell</h4>
          <p><em>P'unk Avenue is in no way affiliated with Kickstarter. We love Kickstarter and hope to encourage people to support cool projects.</em></p>
        </a>
      </div>
    </header>
    <h3 class="max">
      <a href="#" data-max="0" class="active">No limit</a>
      <a href="#" data-max="10">$10</a>
      <a href="#" data-max="20">$20</a>
      <a href="#" data-max="30">$30</a>
      <a href="#" data-max="50">$50</a>
      <a href="#" data-max="75">$75</a>
      <a href="#" data-max="100">$100</a>
      <em>currency varies</em>
    </h3>
    <div class="articles">
      {% include 'views/projects.html' %}
    </div>
    <div class="loading">
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
      <img src="/spinner.gif"/>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function() {

      $('[data-open-credits]').click(function() {
        $('[data-credits]').show();
        return false;
      });

      var page = 1;
      var max = 0;
      var end = false;
      var loading = false;

      // Infinite scroll
      setInterval(function() {
        if ((!end) && (!loading)) {
          if (($(document).scrollTop() + $(window).height() + 350) >= $(document).height())
          {
            loadPage();
          }
        }
      }, 100);

      var maxPrice = 0;
      $('body').on('click', '[data-max]', function() {
        max = parseFloat($(this).attr('data-max'));
        $('[data-max]').removeClass('active');
        $(this).addClass('active');
        reset();
        return false;
      });

      function reset() {
        $('.articles').html('');
        page = 0;
        end = false;
        $('.loading').show();
        loadPage();
      }

      function loadPage() {
        page++;
        loading = true;
        $.ajax({
          url: '/projects',
          type: 'GET',
          data: {
            page: page,
            max: max
          },
          success: function(data) {
            var $articles = $.parseHTML(data);
            $('.articles').append($articles);
            enhanceArticles();
            loading = false;
          },
          error: function() {
            loading = false;
          },
          statusCode: {
            404: function() {
              end = true;
              $('.loading').hide();
            }
          }
        });
      }

      enhanceArticles();

      function enhanceArticles() {
        $('.project .desc').each(function() {
          var $desc = $(this);
          if ($desc.data('enhanced')) {
            return;
          }
          var markup = $desc.html();
          markup = markup.replace(/[A-Za-z\-]*shirt/i, function(match) {
            return '<span class="shirt-word">' + match + '</span>';
          });
          $desc.html(markup);
          $desc.data('enhanced', true);
        });
      }
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-496991-38', 'punkave.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
