/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */

body
{
  background-color: #def;
  font-family: Helvetica;
  line-height: 1.5;
}

.container
{
  width: 960px;
  background-color: #def;
  margin: auto;
  border: 10px solid #def;
  border-radius: 10px;
}

h1
{
  font-size: 300%;
  margin: 0.5em 0 0.5em 0;
}

h2
{
  font-size: 200%;
  margin: 0.5em 0 0.5em 0;
}

h3
{
  font-size: 150%;
  margin: 0.5em 0 0.5em 0;
}

h4
{
  font-size: 125%;
  margin: 0.5em 0 0.5em 0;
}

h5
{
  font-size: 110%;
  margin: 0.5em 0 0.5em 0;
}

strong
{
  font-weight: bold;
}

em
{
  font-style: italic;
}

a
{
  text-decoration: none;
  color: #48f;
}

h3.max
{
  margin: 40px 10px 40px 10px;
}

h3.max a
{
  border-radius: 4px;
  border: 4px solid #def;
  background-color: #def;
}

h3.max a:hover
{
  background-color: #eef8ff;
  border: 4px solid #eef8ff;
}

h3.max a.active
{
  border-radius: 4px;
  border: 4px solid #fff;
  background-color: #fff;
}

h3.max em
{
  padding-left: 20px;
  font-size: 90%;
}

.articles:after
{
  content: "";
  display: table;
  clear: both;
}

article
{
  width: 440px;
  border: 10px solid #f8f8f8;
  border-radius: 10px;
  margin: 10px;
  float: left;
  background-color: #f8f8f8;
}

article:hover
{
  border: 10px solid #fff;
  background-color: #fff;
}

article a
{
  color: black;
  text-decoration: none;
}

article h3
{
  font-size: 20px;
  height: 60px;
  overflow: hidden;
}

article .thumbnail
{
  width: 100%;
}

.left
{
  width: 180px;
  margin: 10px;
  float: left;
  height: 155px;
  overflow: hidden;
}

.right
{
  width: 180px;
  margin: 10px;
  float: left;
  height: 155px;
  overflow: hidden;
}

.shirt
{
  clear: left;
  padding-top: 20px;
  height: 100px;
  overflow: hidden;
}

h5
{
  float: left;
  height: 100px;
  font-size: 200%;
  margin: 10px 20px 10px 10px;
}

header
{
  width: 920px;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  margin: 10px;
}

footer
{
  clear: left;
  width: 920px;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  margin: 10px;
}

.active
{
  background-color: white;
}

.shirt-word
{
  color: #f84;
  font-weight: bold;
}

.logo
{
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.low
{
  display: none;
}

.loading
{
  clear: left;
  width: 920px;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  margin: 10px 10px 100px 10px;
  text-align: center;
}

.loading img
{
  margin: 0 20px 0 20px;
}

@media only screen
and (max-width : 960px)
{
  h1.high {
    display: none;
  }
  h1.low {
    display: block;
  }
  .container {
    width: 96%;
    margin: 1%;
    padding: 1%;
    border: none;
    border-radius: 0;
  }
  .container, article, header, footer, .loading {
    width: 96%;
    margin: 1%;
    padding: 1%;
    height: auto;
    border: none;
    border-radius: 0;
    clear: left;
  }
  .left, .right {
    font-size: 150%;
    width: 46%;
    height: auto;
    margin: 1%;
    padding: 1%;
    border: none;
    border-radius: 0;
  }
  article .thumbnail {
    height: auto;
  }
  .desc {
    font-size: 150%;
  }
  .shirt h5 {
    height: 150px;
  }
  .shirt {
    height: 150px;
  }
  article:hover {
    border: none;
  }
}
